<%- include('./layout/Header') %>

<%- include('./layout/Navbar') %>

    <!--Here, we want toshow the records that we have stored.-->
    <div class="add-container">
        <div class="add">
            <p>Add to Diary</p>
            <a href="/add">ADD</a>
        </div>
    </div>

<%- include('./layout/Footer') %>